@using VKBusReservation.Models
@model Bus
@{
    string title = "Create Bus";
    if (Model != null)
    {
        title = "Edit Bus";
    }
    
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<button type="button" class="btn btn-light pb-2"
        style="background-color:lightgoldenrodyellow;" onclick="GoBus()">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
    </svg>
    Back to List
</button>
    <center> <h2 class="text-danger">@title</h2></center>


<style>
    .required:after {
        content: " *";
        color: red;
    }
</style>

@using (Html.BeginForm(FormMethod.Post, new { id = "Busform" }))
{
    <div class="container border rounded-3  pt-3  bg-light text-dark w-50">
        @Html.HiddenFor(m => m.BusId )
        <div class="mb-3  row justify-content-center">
            <div class="col-3">
                <label class="form-label required">Bus Name</label>
            </div>
            <div class="col-4">
                @Html.TextBoxFor(m => m.BusName , new {@class="form-control", required = "required" , maxlength = "20"} )
            </div>
        </div>
        <div class="mb-3  row justify-content-center">
            <div class="col-3">
                <label class="form-label required">Bus Number</label>
            </div>
            <div class="col-4">
                @Html.TextBoxFor(m => m.BusNumber , new {@class="form-control", required = "required" , minlength = "6",maxlength = "10"})
            </div>
        </div>
        <div class="mb-3  row justify-content-center">
            <div class="col-3">
                <label class="form-label required">Total Seats</label>
            </div>
            <div class="col-4">
                @Html.TextBoxFor(m => m.TotalSeats , new {@class="form-control", required = "required" ,type ="number",min = "1" ,max = "55"})
            </div>
        </div>
        <div class="mb-3  row justify-content-center">
            <div class="col-3">
                <label class="form-label required">Trip Start Time</label>
            </div>
            <div class="col-4">
                @Html.TextBoxFor(m => m.TripStartTime,"{0:yyyy-MM-dd HH:MM:ss}", new {@class="form-control", required = "required",type ="datetime-local"} )
            </div>
        </div>
        <div class="mb-3  row justify-content-center">
            <div class="col-3">
                <label class="form-label required">Trip End Time</label>
            </div>
            <div class="col-4">
                @Html.TextBoxFor(m => m.TripEndTime ,"{0:yyyy-MM-dd HH:MM:ss}", new {@class="form-control", required = "required",type ="datetime-local"} )
            </div>
        </div>
        <div class="mb-3  row justify-content-center">
            <div class="col-3">
                <label class="form-label required">Ticket Price</label>
            </div>
            <div class="col-4">
                @Html.TextBoxFor(m => m.TicketPrice , new {@class="form-control", required = "required",type ="number",min="100",max="50000"} )
            </div>
        </div>
        <div class="mb-3  row justify-content-center">
            <div class="col-3">
                <label class="form-label required">From</label>
            </div>
            <div class="col-4">
                @Html.TextBoxFor(m => m.From , new {@class="form-control", required = "required" , maxlength = "30"})
            </div>
        </div>
        <div class="mb-3  row justify-content-center">
            <div class="col-3">
                <label class="form-label required">To</label>
            </div>
            <div class="col-4">
                @Html.TextBoxFor(m => m.To , new {@class="form-control", required = "required" , maxlength = "30"})
            </div>
        </div>
        <div class="mb-3 row justify-content-center">
            <div class="col-3">
                <button type="submit" class="btn btn-outline-primary">Submit</button>
            </div>
        </div>
    </div>
}



<div class="toast">
    <div class="toast-header">
        Toast Header
        <button type="button" class="btn-close" data-bs-dismiss="toast"></button>
    </div>
    <div class="toast-body">
        Some text inside the toast body
    </div>
</div>