@using VKBusReservation.Models
@model CustomerList
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = " Reservation Details";
}
<button type="button" class="btn btn-light pb-2"
        style="background-color:lightgoldenrodyellow;" onclick="GoHome()">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
    </svg>
    Back to List
</button>
    <h3><center>@ViewData["Title"]</center></h3>
<div class="container" style="float:left">
    <div class="row ">
        <div class="col-4" >
           <h5> Customer Name :
                <b> @Model.CustomerName</b>
            </h5>
        </div>
</div> 
</div>

<table class="table table-hover borderd ">
    <tr style="background-color:#ddd;">
        <th class="text-center">Reservation Id</th>
        <th class="text-center">Bus Name</th>
        <th class="text-center">Bus Number </th>
        <th class="text-center">Reservation date</th>
        <th class="text-center">Reserved Seats</th>
        <th class="text-center">Ticket Price</th>
        <th class="text-center">From</th>
        <th class="text-center">To</th>
    </tr>
    @foreach (CustomerDetails customer in Model.Customers)
    {
        <tr>
            <td class="text-center">@customer.ReservationId</td>
            <td class="text-center">@customer.BusName</td>
            <td class="text-center">@customer.BusNumber</td>
            <td class="text-center">@String.Format("{0:MM/dd/yyyy}", @customer.Reservationdate)  </td>
            <td class="text-center">@customer.ReservedSeats</td>
            <td class="text-center">@customer.TicketPrice</td>
            <td class="text-center">@customer.From</td>
            <td class="text-center">@customer.To</td>
        </tr>
    }
</table>