@using VKBusReservation.Models.DTO
@model List<AddReservationDTO>
@{
    ViewData["Title"] = "Reservation List";
    Layout = "~/Views/Shared/_LayoutReservation.cshtml";
}
    <h2>@ViewData["Title"]</h2>
<table class="table borderd table-striped" id="dataTable">
    <thead style="background-color:#ddd;">

        <tr>
            <th  class="text-center">Reservation Id</th>
            <th class="text-center">Customer Name</th>
            <th class="text-center">Bus Number</th>
            <th class="text-center">Reserved Seat</th>
            <th class="text-center">Ticket Price </th>
            <th class="text-center">From</th>
            <th class="text-center">To</th>
            <th class="text-center">Reservation Date</th>
            <th class="text-center">Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (AddReservationDTO reservation in Model)
        {
            <tr>
                <td class="text-center">@reservation.ReservationId</td>
                <td class="text-center">
                    <button type="button" class="btn btn-link"
                        onClick="details(@reservation.CustomerId)">
                        @reservation.CustomerName
                    </button>
                   
            </td>
                <td class="text-center">@reservation.BusNumber</td>
                <td class="text-center">@reservation.NumberOfSeats</td>
                <td class="text-center">@reservation.TicketPrice</td>
                <td class="text-center">@reservation.From</td>
                <td class="text-center">@reservation.To</td>
                <td class="text-center">@String.Format("{0:MM/dd/yyyy}", @reservation.Reservationdate)  </td>
                <td class="text-center">
                    <button class="btn btn-danger"  onclick="ConfirmDelete(@reservation.ReservationId)">Delete</button>
                    <a href="/Home/EditReservation/@reservation.ReservationId" class="btn" style="background-color:#96E4EF;">Edit</a>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td></td>
        </tr>
    </tfoot>
    </table>
@section scripts{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.12.1/datatables.min.css" />
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.12.1/datatables.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#dataTable").DataTable();
        })
    </script>
}



